<header>
    <h2>User Registration <small class="text-muted">:: Reactive Form</small></h2>
</header>
<hr>

<form [formGroup]="registrationForm">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input formControlName="userName" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

<div class="mt-4">
    {{registrationForm.value | json}}
</div>