<header>
    <h2>User Registration <small class="text-muted">:: Reactive Form</small></h2>
</header>
<hr>

<div class="my-4">
    {{registrationForm.value | json}}
</div>

<form [formGroup]="registrationForm">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input [class.is-invalid]="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched"
            formControlName="userName" type="text" class="form-control">
        <div *ngIf="userName?.invalid && userName?.touched">
            <small *ngIf="userName?.errors?.['required']" class="text-danger">Username is required</small>
            <small *ngIf="userName?.errors?.['minlength']"  class="text-danger">Username must be at lest 3 characters</small>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
    </div>

    <div formGroupName="address">
        <div class="mb-3">
            <label class="form-label">City</label>
            <input formControlName="city" name="city" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">State</label>
            <input formControlName="state" name="state" type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Postal Code</label>
            <input formControlName="postalCode" name="postalCode" type="text" class="form-control">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <button (click)="loadApiData()" type="button" class="btn btn-outline-secondary mx-3">Load API Data</button>
</form>